.slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* columns: repeat(2, 1fr); */
}

.slider-gallery {
    width: 11%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.slider-gallery__img-wrap {
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
    cursor: pointer;
}

.slider-gallery__img-wrap-active {
    box-shadow: 0px 3px 6px rgb(231, 118, 0)
}

.slider-gallery__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slider-dynamic {
    width: 83%;
    height: 510px;
}

.slider-dynamic__image {
    width: 100%;
    object-fit: contain;
}