.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 80px;
    padding: 23px 100px 0 100px;
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    z-index: 10;

    &-logo {
        display: flex;
        justify-content: center;
    }

    &-actions {
        display: flex;
        gap: 22px;
        justify-content: flex-end;
        align-items: baseline;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 160%;

        &>button {
            border: none;
            font: inherit;
            color: inherit;
            background-color: transparent;
            cursor: pointer;
        }
    }
}
