.header {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    height: 80px;
    padding: 1.44rem 6.25rem 0 6.25rem;
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255);
    z-index: 10;

    &-logo {
        display: flex;
        justify-content: center;
    }

    &-actions {
        display: flex;
        gap: 1.38rem;
        justify-content: flex-end;
        align-items: baseline;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 160%;

        &>button {
            border: none;
            font: inherit;
            color: inherit;
            background-color: transparent;
            cursor: pointer;
        }
    }
}
