.slider {
    width: 100%;
    display: grid;
    grid-template-columns: 5rem auto;
    column-gap: 2.5rem;

    &-gallery {
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;

        &__img-wrap {
            width: 80px;
            height: 80px;
            cursor: pointer;
            user-select: none;

            &--active {
                border: 2px solid var(--background-green);
            }
        }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &-dynamic {
        width: 100%;
        object-fit: contain;
    }
}
