.description {
    display: flex;
    column-gap: 6.25rem;

    &-slider {
        width: 58%;
    }

    &-details {
        width: 33%;
    }

    @media (max-width:992px) {
        & {
            flex-direction: column;
            row-gap: 2rem;
            transition: all 0.5s ease;
        }
    }
}
