.currencies-symbol {
    display: flex;
    padding: 0 0.625rem;
    column-gap: 0.625rem;
    align-items: baseline;
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size: 1.125rem;
    font-weight: 500;
}

.currencies-list {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    left: -10px;
    margin-top: 1rem;
    background-color: var(--background-white);
    filter: var(--shadow-drop);
    animation-name: appear;
    animation-duration: 0.5s;

    &__btn {
        display: flex;
        width: 115px;
        padding: 0.5rem 1.25rem;
        cursor: pointer;
        border: none;
        background-color: transparent;
        font-family: var(--font-raleway);
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 160%;

        &:hover,
        &:focus {
            background-color: var(--background-light-gray);
        }
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
