.attribute {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    font-family: var(--font-robboto-condensed);
    font-style: normal;
    line-height: 18px;

    &-text {
        font-weight: 700;
        font-size: 1.125rem;

        &--overlay {
            font-family: var(--font-raleway);
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 16px;
        }
    }

    &-btn-wrapper {
        display: flex;
        gap: 0.75rem;

        &--overlay {
            gap: 0.5rem;
        }

        @media (max-width:576px) {
            & {
                gap: 0.3rem;
                transition: all 0.5s ease;
            }
        }
    }

    &-btn {
        width: 63px;
        height: 45px;
        cursor: pointer;
        border: 1px solid var(--underline-light-gray);
        color: inherit;
        background-color: transparent;
        user-select: none;
        font-family: var(--font-sans-pro);
        font-weight: 400;
        font-size: 1rem;

        &--chosen {
            background-color: var(--background-black);
            color: var(--font-color-white);
            border: 1px solid var(--background-black);
        }

        &--chosen-swatch {
            border: 2px solid var(--background-green);
            padding: 2px;
            background-clip: content-box;
        }

        &--overlay {
            width: 24px;
            height: 24px;
            font-size: 0.875rem;

            &-capacity {
                width: 45px;
                height: 24px;
            }
        }

        &--cart {
            user-select: none;
            cursor: default;
            pointer-events: none;
        }

        @media (max-width:576px) {
            & {
                width: 40px;
                height: 24px;
                font-size: 0.875rem;
                transition: all 0.5s ease;
            }
        }
    }
}
