.attribute {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    font-family: 'Roboto Condensed';
    font-style: normal;
    line-height: 18px;

    &-text {
        font-weight: 700;
        font-size: 1.125rem;
        color: rgb(29, 31, 34);
    }

    &-btn-wrapper {
        display: flex;
        gap: 0.75rem;
    }

    &-btn {
        width: 63px;
        height: 45px;
        cursor: pointer;
        border: 1px solid rgb(225, 217, 217);
        color: inherit;
        background-color: transparent;
        user-select: none;
        font-family: 'Source Sans Pro';
        font-weight: 400;
        font-size: 1rem;

        &--chosen {
            background-color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            border: 1px solid rgb(0, 0, 0);
        }

        &--chosen-swatch {
            border: 2px solid rgb(94, 206, 123);
            padding: 2px;
            background-clip: content-box;
        }
    }
}
