@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&family=Roboto+Condensed:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&family=Source+Sans+Pro&display=swap');

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1rem;
    width: 100%;
    width: 386px;
    height: 440px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.card--disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
}

.card:hover {
    filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
}

.card-image-wrapper {
    width: 355px;
    height: 330px;
    position: relative;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
}

.card-image__stock {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 25%;
    color: rgba(141, 143, 154, 1);
    text-transform: uppercase;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
}

.card-info {
    display: flex;
    flex-direction: column
}

.card-info__name,
.card-info__price {
    display: flex;
    width: 100%;
}
