.modal {
    background-color: var(--background-gray);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index: 100;

    &--active {
        opacity: 1;
        pointer-events: all;
    }

    &__content {
        padding: 2rem;
        background-color: var(--background-white);
        box-shadow: var(--shadow-modal);
        transform: scale(0.5);
        transition: 0.5s;

        &--active {
            transform: scale(1);
        }
    }
}
