.message {
    margin: 0 auto;
    width: 86.2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.modal-btn {
    text-transform: uppercase;
    width: 300px;

    @media (max-width:576px) {
        & {
            width: 100%;
        }
    }
}
