.base-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  padding: 1rem 2rem;
  color: var(--button-text-color);
  background-color: var(--button-color);
  border: 2px solid var(--button-color);
  transition: background-color 0.2s, color 0.2s, stroke 0.2s, border 0.2s,
    filter 0.2s;

  &:not(&--outlined):hover {
    filter: brightness(110%) saturate(105%);
  }

  &--primary {
    --button-color: rgb(94, 206, 123, 1);
    --button-text-color: rgb(255, 255, 255);
  }

  &--secondary {
    --button-color: rgb(29, 31, 34, 1);
    --button-text-color: rgba(29, 31, 34, 1);
  }

  &--full {
    width: 100%;
  }

  &--disabled {
    filter: brightness(125%) saturate(40%);
    cursor: default;
    pointer-events: none;
  }

  &--outlined {
    --button-text-color: var(--button-color);
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--button-color);

    &:hover {
      --button-text-color: rgb(255, 255, 255);
      background-color: var(--button-color);
    }
  }

  &--wrap {
    white-space: normal;
  }
}
