@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&family=Roboto+Condensed:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&family=Source+Sans+Pro&display=swap');

.base-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  font-family: 'Raleway',
    sans-serif;
  text-decoration: none;
  white-space: nowrap;
  padding: 1rem 2rem;
  color: var(--button-text-color);
  background-color: var(--button-color);
  border: 2px solid var(--button-color);

  &:not(&--outlined):hover {
    filter: brightness(110%) saturate(105%);
  }

  &--primary {
    --button-color: rgb(94, 206, 123, 1);
    --button-text-color: rgb(255, 255, 255);
  }

  &--secondary {
    --button-color: rgb(29, 31, 34, 1);
    --button-text-color: rgb(255, 255, 255);
  }

  &--disabled {
    filter: brightness(125%) saturate(40%);
    cursor: default;
    cursor: not-allowed;
  }

  &--outlined {
    --button-text-color: var(--button-color);
    background-color: rgb(255, 255, 255);
    border: 2px solid var(--button-color);

    &:hover {
      --button-text-color: rgb(255, 255, 255);
      background-color: var(--button-color);
    }
  }
}
