.product-price {
    font-family: 'Raleway',
        sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 18px;

    &--overlay {
        font-weight: 500;
        font-size: 1rem;
        line-height: 26px;
    }

    @media (max-width:768px) {
        & {
            font-weight: 500;
            font-size: 1rem;
            line-height: 26px;
            transition: all 0.5s ease;
        }
    }
}
